
@{
    ViewData["Title"] = "posts";
    Layout = "~/Views/Shared/_Layoutpro.cshtml";
}

<div class="div-post-b2">
	
				
		
		
		
	</div>
	<script>
	$.ajax('/home/postshow').done(function (d) {
		for (var i = 0; i <= d.length; i++) {
			if (d[i].prefix != "video/mp4") {


				$('.div-post-bottom').append(
					'<div onClick="showp(\'' + d[i].postid + '\');" class="post-pic-click">'
					+ '<img class="img-com-user" src="/picture/post/' + d[i].pic + '"/>'
					+ '</div>'
				)
			}
			if (d[i].prefix == "video/mp4") {

				$('.div-post-bottom').append(
					'<div onClick="showp(\'' + d[i].postid + '\');" class="post-pic-click">'
					+ '<video class="img-com-user">'
					+ '<source src="/picture/post/' + d[i].pic + '" type="video/mp4">'
					+ '</video>'
					+ '</div>'
				)

			}
		}
	})
	var vids = $(".img-com-user");
	$.each(vids, function () {
		this.controls = false;
	});
	
	function showp(pid) {
		var url = 'https://iranlo.ir/home/showpost2?postid=' + pid ;
		$(location).attr('href', url);
	}
	</script>
