
@{
    ViewData["Title"] = "MyAdds";
    Layout = "~/Views/Shared/_LayoutAdverProfile.cshtml";
}

<section id="main" class="clearfix myads-page">
    <div class="container">

        <div class="breadcrumb-section">
            <!-- breadcrumb -->
            <ol class="breadcrumb">
                <li><a href="index.html">خانه</a></li>
                <li>افزودن آگهی</li>
            </ol><!-- breadcrumb -->
            <h2 class="title">آگهی‌های من</h2>
        </div><!-- banner -->

        <div class="ad-profile section">
            <div class="user-profile">
                <div class="user-images">
                    <img src="images/user.jpg" alt="User Images" class="img-fluid">
                </div>
                <div class="user">
                    <h2>سلام, <a href="#">ایمان عزیز</a></h2>
                    <h5>آخرین ورود شما سه‌شنبه ، 21 اردیبهشت 1399</h5>
                </div>

                <div class="favorites-user">
                    <div class="my-ads">
                        <a href="my-ads.html">23<small>آگهی‌های من</small></a>
                    </div>
                    <div class="favorites">
                        <a href="#">18<small>علاقه‌مندیها</small></a>
                    </div>
                </div>
            </div><!-- user-profile -->

            <ul class="user-menu">
                <li><a href="my-profile.html">پروفایل</a></li>
                <li class="active"><a href="my-ads.html">آگهی‌های من</a></li>
                <li><a href="favourite-ads.html">آگهی‌های محبوب</a></li>
                <li><a href="archived-ads.html">آگهی‌های آرشیو شده</a></li>
                <li><a href="pending-ads.html">در انتظار تایید</a></li>
                <li><a href="delete-account.html">بستن اکانت</a></li>
            </ul>

        </div><!-- ad-profile -->

        <div class="ads-info">
            <div class="row">
                <div class="col-md-8">
                    <div class="my-ads section">
                        <h2>آگهی‌های من</h2>
                        <!-- ad-item -->
                        <div class="ad-item row">
                            <!-- item-image -->
                            <div class="item-image-box col-lg-4">
                                <div class="item-image">
                                    <a href="details.html"><img src="images/trending/1.jpg" alt="Image" class="img-fluid"></a>
                                </div><!-- item-image -->
                            </div>

                            <!-- rending-text -->
                            <div class="item-info col-lg-8">
                                <!-- ad-info -->
                                <div class="ad-info">
                                    <h3 class="item-price">  8000 تومان  </h3>
                                    <h4 class="item-title"><a href="#">اپل تی وی - بهترین تلویزیون دنیا</a></h4>
                                    <div class="item-cat">
                                        <span><a href="./details.html">دستگاه‌های دیجیتال  و گجت‌ها</a></span> /
                                        <span><a href="#">تلویزیون و دستگاه ویدئو</a></span>
                                    </div>
                                </div><!-- ad-info -->
                                <!-- ad-meta -->
                                <div class="ad-meta">
                                    <div class="meta-content">
                                        <span class="dated">پست شده در: <a href="#">7 مهر 1399 - 10:10 بعدازظهر </a></span>
                                        <span class="visitors">بازدیدکنندگان: 221</span>
                                    </div>
                                    <!-- item-info-right -->
                                    <div class="user-option pull-right">
                                        <a class="edit-item" href="#" data-toggle="tooltip" data-placement="top" title="ویرایش آگهی"><i class="fa fa-pencil"></i></a>
                                        <a class="delete-item" href="#" data-toggle="tooltip" data-placement="top" title="حذف آگهی"><i class="fa fa-times"></i></a>
                                    </div><!-- item-info-right -->
                                </div><!-- ad-meta -->
                            </div><!-- item-info -->
                        </div><!-- ad-item -->
                        <!-- ad-item -->
                        <div class="ad-item row">
                            <div class="item-image-box col-lg-4">
                                <!-- item-image -->
                                <div class="item-image">
                                    <a href="details.html"><img src="images/trending/2.jpg" alt="Image" class="img-fluid"></a>
                                </div><!-- item-image -->
                            </div><!-- item-image-box -->
                            <!-- rending-text -->
                            <div class="item-info col-lg-8">
                                <!-- ad-info -->
                                <div class="ad-info">
                                    <h3 class="item-price"> 25000 تومان <span> (قابل مذاکره) </span></h3>
                                    <h4 class="item-title"><a href="#">مبلمان پارچه ، مبلمان دستباف دست ساز</a></h4>
                                    <div class="item-cat">
                                        <span><a href="#">لوازم خانگی</a></span> /
                                        <span><a href="#">کاناپه</a></span>
                                    </div>
                                </div><!-- ad-info -->
                                <!-- ad-meta -->
                                <div class="ad-meta">
                                    <div class="meta-content">
                                        <span class="dated">پست شده در: <a href="#">7 مهر 1399 - 10:10 بعدازظهر </a></span>
                                        <span class="visitors">بازدیدکنندگان: 221</span>
                                    </div>
                                    <!-- item-info-right -->
                                    <div class="user-option pull-right">
                                        <a class="edit-item" href="#" data-toggle="tooltip" data-placement="top" title="ویرایش آگهی"><i class="fa fa-pencil"></i></a>
                                        <a class="delete-item" href="#" data-toggle="tooltip" data-placement="top" title="حذف آگهی"><i class="fa fa-times"></i></a>
                                    </div><!-- item-info-right -->
                                </div><!-- ad-meta -->
                            </div><!-- item-info -->
                        </div><!-- ad-item -->
                        <!-- ad-item -->
                        <div class="ad-item row">
                            <div class="item-image-box col-lg-4">
                                <!-- item-image -->
                                <div class="item-image">
                                    <a href="details.html"><img src="images/trending/3.jpg" alt="Image" class="img-fluid"></a>
                                </div><!-- item-image -->
                            </div><!-- item-image-box -->
                            <!-- rending-text -->
                            <div class="item-info col-lg-8">
                                <!-- ad-info -->
                                <div class="ad-info">
                                    <h3 class="item-price">  89000 تومان   <span> (قابل مذاکره) </span></h3>
                                    <h4 class="item-title"><a href="#">سامسونگ گلکسی اس 10</a></h4>
                                    <div class="item-cat">
                                        <span><a href="./details.html">دستگاه‌های دیجیتال  و گجت‌ها</a></span> /
                                        <span><a href="#">تلفن همراه</a></span>
                                    </div>
                                </div><!-- ad-info -->
                                <!-- ad-meta -->
                                <div class="ad-meta">
                                    <div class="meta-content">
                                        <span class="dated">پست شده در: <a href="#">7 مهر 1399 - 10:10 بعدازظهر </a></span>
                                        <span class="visitors">بازدیدکنندگان: 221</span>
                                    </div>
                                    <!-- item-info-right -->
                                    <div class="user-option pull-right">
                                        <a class="edit-item" href="#" data-toggle="tooltip" data-placement="top" title="ویرایش آگهی"><i class="fa fa-pencil"></i></a>
                                        <a class="delete-item" href="#" data-toggle="tooltip" data-placement="top" title="حذف آگهی"><i class="fa fa-times"></i></a>
                                    </div><!-- item-info-right -->
                                </div><!-- ad-meta -->
                            </div><!-- item-info -->
                        </div><!-- ad-item -->
                        <!-- ad-item -->
                        <div class="ad-item row">
                            <div class="item-image-box col-lg-4">
                                <!-- item-image -->
                                <div class="item-image">
                                    <a href="details.html"><img src="images/trending/4.jpg" alt="Image" class="img-fluid"></a>
                                </div><!-- item-image -->
                            </div><!-- item-image-box -->
                            <!-- rending-text -->
                            <div class="item-info col-lg-8">
                                <!-- ad-info -->
                                <div class="ad-info">
                                    <h3 class="item-price">  8000 تومان  </h3>
                                    <h4 class="item-title"><a href="#">ریک مورتون- مگیسیوس چیس</a></h4>
                                    <div class="item-cat">
                                        <span><a href="#">کتاب و مجله</a></span> /
                                        <span><a href="#">کتاب</a></span>
                                    </div>
                                </div><!-- ad-info -->
                                <!-- ad-meta -->
                                <div class="ad-meta">
                                    <div class="meta-content">
                                        <span class="dated">پست شده در: <a href="#">7 مهر 1399 - 10:10 بعدازظهر </a></span>
                                        <span class="visitors">بازدیدکنندگان: 221</span>
                                    </div>
                                    <!-- item-info-right -->
                                    <div class="user-option pull-right">
                                        <a class="edit-item" href="#" data-toggle="tooltip" data-placement="top" title="ویرایش آگهی"><i class="fa fa-pencil"></i></a>
                                        <a class="delete-item" href="#" data-toggle="tooltip" data-placement="top" title="حذف آگهی"><i class="fa fa-times"></i></a>
                                    </div><!-- item-info-right -->
                                </div><!-- ad-meta -->
                            </div><!-- item-info -->
                        </div><!-- ad-item -->
                    </div>
                </div><!-- my-ads -->
                <!-- recommended-cta-->
                <div class="col-md-4 text-center">
                    <!-- recommended-cta -->
                    <div class="recommended-cta">
                        <div class="cta">
                            <!-- single-cta -->
                            <div class="single-cta">
                                <!-- cta-icon -->
                                <div class="cta-icon icon-secure">
                                    <img src="images/icon/13.png" alt="Icon" class="img-fluid">
                                </div><!-- cta-icon -->

                                <h4>خرید و فروش امن</h4>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است</p>
                            </div><!-- single-cta -->
                            <!-- single-cta -->
                            <div class="single-cta">
                                <!-- cta-icon -->
                                <div class="cta-icon icon-support">
                                    <img src="images/icon/14.png" alt="Icon" class="img-fluid">
                                </div><!-- cta-icon -->

                                <h4>پشتیبانی 24/7</h4>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است</p>
                            </div><!-- single-cta -->
                            <!-- single-cta -->
                            <div class="single-cta">
                                <!-- cta-icon -->
                                <div class="cta-icon icon-trading">
                                    <img src="images/icon/15.png" alt="Icon" class="img-fluid">
                                </div><!-- cta-icon -->

                                <h4>خرید و فروش آسان</h4>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است</p>
                            </div><!-- single-cta -->
                            <!-- single-cta -->
                            <div class="single-cta">
                                <h5>کمک نیاز دارید؟</h5>
                                <p><span>با ما تماس بگیرید</span><a href="tellto:08048100000"> 08048100000</a></p>
                            </div><!-- single-cta -->
                        </div>
                    </div><!-- cta -->
                </div><!-- recommended-cta-->

            </div><!-- row -->
        </div><!-- row -->
    </div><!-- container -->
</section><!-- myads-page -->
