
@{
    ViewData["Title"] = "Pending";
    Layout = "~/Views/Shared/_LayoutAdverProfile.cshtml";
}

<!-- main -->
<section id="main" class="clearfix contact-us">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="index.html">خانه</a></li>
            <li>خرید اشتراک</li>
        </ol>
        <h2 class="title">خرید اشتراک</h2>

        <div class="pricing-section">
            <div class="row">
                <div class="col-md-4">
                    <div class="pric">
                        <h2>شخصی</h2>
                        <h3>59<sup>تومان</sup><span>/ماهانه</span></h3>
                        <div class="pric-menu">
                            <ul>
                                <li><i class="fa fa-check" aria-hidden="true"></i>گالری محصولات و بلاگ.</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i>تحلیل و آنالیز قوی</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i>یکپارچگی و سادگی</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i>فروش نامحدودمحصولات</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i>مناسب برای خرید</li>
                                <li><i class="fa fa-times" aria-hidden="true"></i>دامنه رایگان</li>
                                <li><i class="fa fa-times" aria-hidden="true"></i>پشتیبانیشبانه‌روزی</li>
                                <li><i class="fa fa-times" aria-hidden="true"></i>3% فروش نرخ انتقال وجه</li>
                            </ul>
                            <a href="#" class="btn btn-primary">همین حالا بخرید</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="pric active">
                        <div class="popular">
                            <h2>محبوب‌ترین</h2>
                        </div>
                        <h2>شرکتی</h2>
                        <h3>99<sup>تومان</sup><span>/ماهانه</span></h3>
                        <div class="pric-menu">
                            <ul>
                                <li><i class="fa fa-check" aria-hidden="true"></i>گالری محصولات و بلاگ.</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i>تحلیل و آنالیز قوی</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i>یکپارچگی و سادگی</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i>فروش نامحدودمحصولات</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i>مناسب برای خرید</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i>دامنه رایگان</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i>پشتیبانیشبانه‌روزی</li>
                                <li><i class="fa fa-times" aria-hidden="true"></i>3% فروش نرخ انتقال وجه</li>
                            </ul>
                            <a href="#" class="btn btn-primary">همین حالا بخرید</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="pric">
                        <h2>شخصی</h2>
                        <h3>199<sup>تومان</sup><span>/ماهانه</span></h3>
                        <div class="pric-menu">
                            <ul>
                                <li><i class="fa fa-check" aria-hidden="true"></i>گالری محصولات و بلاگ.</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i>تحلیل و آنالیز قوی</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i>یکپارچگی و سادگی</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i>فروش نامحدودمحصولات</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i>مناسب برای خرید</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i>دامنه رایگان</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i>پشتیبانیشبانه‌روزی</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i>3% فروش نرخ انتقال وجه</li>
                            </ul>
                            <a href="#" class="btn btn-primary">همین حالا بخرید</a>
                        </div>
                    </div>
                </div>

            </div><!-- row -->
        </div><!-- pricing section -->
    </div><!-- container -->
</section><!-- main -->
